<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   internalLogFile="internal-log.txt" internalLogLevel="Trace">

	<targets>
		<target name="logfile-api" xsi:type="File" fileName="logs/${shortdate}-logfile-api.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
		<target name="logfile-bll" xsi:type="File" fileName="logs/${shortdate}-logfile-bll.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
		<target name="logfile-dal" xsi:type="File" fileName="logs/${shortdate}-logfile-dal.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
		<target name="logfile-ui" xsi:type="File" fileName="logs/${shortdate}-logfile-ui.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="API.*" minlevel="Trace" writeTo="logfile-api" />
		<logger name="BLL.*" minlevel="Trace" writeTo="logfile-bll" />
		<logger name="DAL.*" minlevel="Trace" writeTo="logfile-dal" />
		<logger name="UserAuth.*" minlevel="Trace" writeTo="logfile-ui" />
	</rules>
</nlog>