@{
    ViewData["Title"] = "Change password";
}
@model ChangePasswordDto


<h2>Welcome, <b>@Model.Name</b></h2>
<p>Here you can change your account password.</p>

<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 mx-auto">


    <div class="container ">

        <form asp-action="ChangePassword" asp-controller="User" method="post" class="py-2 px-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3 ">
                <label asp-for="Password" class="form-label"></label>
                <div class="position-relative">
                    <input type="password" class="form-control password" asp-for="Password">
                    <i class="fa fa-eye-slash position-absolute eye-password" aria-hidden="true"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>


            </div>
            <div class="mb-3 ">
                <label asp-for="NewPassword" class="form-label"></label>
                <div class="position-relative">
                    <input type="password" class="form-control password" asp-for="NewPassword">
                    <i class="fa fa-eye-slash position-absolute eye-password" aria-hidden="true"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>


            </div>
            <div class="mb-3 ">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <div class="position-relative">
                    <input type="password" class="form-control password" asp-for="ConfirmNewPassword">
                    <i class="fa fa-eye-slash position-absolute eye-password" aria-hidden="true"></i>
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>


            </div>
            <!-- Add any other fields or controls as needed -->
            <div class="clearfix">
                <button type="submit" class="btn btn-success float-end"><i class="fa-solid fa-floppy-disk"></i> Save</button>

            </div>
        </form>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
