@{
    ViewData["Title"] = "Password Recovery";
}
@model ForgotPasswordDto


<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 mx-auto">
    <div class="card">
        <h5 class="card-header text-center text-black">Forgot Password</h5>
        <div class="card-body">
            @if (ViewBag?.ForgotMailSent != null)
            {
                <div class="container text-center mt-5">
                    <p class="text-black">A password reset link has been sent to your email. Follow the instructions in the email</p>
                </div>
            }
            else
            {
                <form asp-controller="User" asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input type="text" class="form-control" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    
                    <div class="col-12 clearfix">
                        <button type="submit" class="btn btn-primary float-end">Next</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
