@{
    ViewData["Title"] = "Login";
}
@model UserLoginDto


<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 mx-auto">
    <div class="card">
        <h5 class="card-header text-center text-black">Login</h5>
        <div class="card-body">
            <form asp-controller="User" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="Password" class="form-label"></label>
                    <div class="position-relative">
                        <input type="password" class="form-control password" asp-for="Password">
                        <i class="fa fa-eye-slash position-absolute eye-password" aria-hidden="true"></i>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-12 clearfix">
                    <a asp-controller="User" asp-action="ForgotPassword" class="float-start text-decoration-underline">I forgot my password</a>
                    <button type="submit" class="btn btn-primary float-end">Login</button>
                </div>

            </form>



        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
