@{
    ViewData["Title"] = "Reset password";
}
@model ResetPasswordDto


<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 mx-auto">
    <div class="card">
        <h5 class="card-header text-center text-black">Reset your password</h5>
        <div class="card-body">
            @if (ViewBag?.ResetOk != null)
            {
                <div class="container text-center mt-5">
                    <p class="text-black">Your account password has been reset. You can login now.</p>
                    <a asp-action="Login" asp-controller="User" class="text-decoration-underline">Login</a>
                </div>
            }
            else
            {
                <form asp-controller="User" asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Token" />  
                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <div class=" position-relative">
                            <input type="password" class="form-control password" asp-for="NewPassword">
                            <i class="fa fa-eye-slash position-absolute eye-password" aria-hidden="true"></i>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmNewPassword" class="form-label"></label>
                        <div class=" position-relative">
                            <input type="password" class="form-control password" asp-for="ConfirmNewPassword">
                            <i class="fa fa-eye-slash position-absolute eye-password" aria-hidden="true"></i>

                        </div>
                        
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="col-12 clearfix">
                        <button type="submit" class="btn btn-primary float-end">Next</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
