@{
    ViewData["Title"] = "Update";
}
@model UserUpdateDto


<h2>Welcome, <b>@Model.Name</b></h2>
<p>Here you can update your account information.</p>

<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 mx-auto">


    <div class="container ">

        <form asp-action="Update" asp-controller="User" method="post" class="py-2 px-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <!-- Add any other fields or controls as needed -->
            <div class="clearfix">
                <button type="submit" class="btn btn-success float-end"><i class="fa-solid fa-floppy-disk"></i> Save</button>

            </div>
        </form>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
